<template>
  <div class="container">
    <BarChart
    v-if="loaded"
    :chartdata="chartdata"
    :options="options"/>
  </div>
</template>

<script>
  import ProductDataService from "../services/ProductDataService";
  import BarChart from "./BarChart.vue";

  export default {
    name: "chart-container",
    components: { BarChart },
    data: () => ({
      loaded: false,
      chartdata: null,
      options: null
    }),
    methods: {
     getLabel(product) {
      return product.title;
    },
    getQty(product) {
      return product.quantity;
    },
  },
  mounted () {
    this.loaded = false
    ProductDataService.getAll()
    .then((response) => {
      const { data } = response;

      var labels = data.map(this.getLabel);
      var values = data.map(this.getQty);

      this.chartdata  = {
        labels: labels,
        datasets: [
          {
            label: "Quantity",
            backgroundColor: "#f87979",
            data: values
          }
        ]
      };

      this.options = { responsive: true, maintainAspectRatio: false };
      this.loaded = true;
    })
    .catch((e) => {
      console.log(e);
    });
  }
};
</script>