<template>
  <v-app>
    <v-app-bar app dark>
      <div class="d-flex align-center mr-2">
        Product Project
      </div>

      <v-btn to="/products" text>
        Products
      </v-btn>
      <!--
      <v-btn to="/add" text>
        Add
      </v-btn>
      -->
      <v-btn to="/chart" text>
        Chart
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
    export default {
      name: "main-component"
    }
</script>