<template>
  <v-row align="center" class="list px-3 mx-auto">
    <v-col cols="12" sm="8">
      <v-text-field v-model="searchTitle" label="Search by Title or SKU"></v-text-field>
    </v-col>

    <v-col cols="12" sm="4">
      <v-btn small @click="page = 1; retrieveProducts();">
        Search
      </v-btn>
    </v-col>

    <v-col cols="12" sm="12">
      <v-row>
        <v-col cols="4" sm="3">
          <v-select
          v-model="pageSize"
          :items="pageSizes"
          label="Items per Page"
          @change="handlePageSizeChange"
          ></v-select>
        </v-col>

        <v-col cols="12" sm="9">
          <v-pagination
          v-model="page"
          :length="totalPages"
          total-visible="7"
          next-icon="mdi-menu-right"
          prev-icon="mdi-menu-left"
          @input="handlePageChange"
          ></v-pagination>
        </v-col>
      </v-row>
    </v-col>

    <v-col cols="12" sm="12">
      <v-card class="mx-auto" tile>
        <v-card-title>Products</v-card-title>

        <v-data-table
        :headers="headers"
        :items="products"
        disable-pagination
        :hide-default-footer="true"
        @click:row="gotoProduct"
        >
        <template v-slot:[`item.image`]="{ item }">
          <v-img
          max-height="50"
          max-width="50"
          v-bind:src="'/images/' + item.image"
          ></v-img>

        </template>
      </v-data-table>

    </v-card>
  </v-col>
</v-row>
</template>

<script>
  import ProductDataService from "../services/ProductDataService";
  export default {
    name: "products-list",
    data() {
      return {
        products: [],
        searchTitle: "",
        headers: [
        { text: "Image", value: "image", sortable: false },
        { text: "Title", align: "start", sortable: false, value: "title" },
        { text: "Price", value: "price", sortable: false },
        { text: "Quantity", value: "quantity", sortable: false },
        { text: "Ingredients", value: "ingredients", sortable: false },
        { text: "SKU", value: "sku", sortable: false },
        ],

        page: 1,
        totalPages: 0,
        pageSize: 3,

        pageSizes: [3, 6, 9],
      };
    },
    methods: {
      getRequestParams(searchTitle, page, pageSize) {
        let params = {};

        if (searchTitle) {
          params["title"] = searchTitle;
        }

        if (page) {
          params["page"] = page;
        }

        if (pageSize) {
          params["size"] = pageSize;
        }



        return params;
      },

      retrieveProducts() {
        const params = this.getRequestParams(
          this.searchTitle,
          this.page,
          this.pageSize
          );

        ProductDataService.getPaginated(params)
        .then((response) => {
          const { data, total, per_page } = response.data;
          this.products = data.map(this.getDisplayProduct);
          this.totalPages = Math.ceil(total/per_page);
        })
        .catch((e) => {
          console.log(e);
        });
      },

      handlePageChange(value) {
        this.page = value;
        this.retrieveProducts();
      },

      handlePageSizeChange(size) {
        this.pageSize = size;
        this.page = 1;
        this.retrieveProducts();
      },

      getDisplayProduct(product) {
        return {
          id: product._id,
          title: product.title.length > 30 ? product.title.substr(0, 30) + "..." : product.title,
          price: product.price,
          quantity: product.quantity,
          image: product.image,
          ingredients: product.ingredients,
          sku: product.sku,
        };
      },

      gotoProduct(value) {
        this.$router.push({ name: "product-details", params: { id: value.id } });
      },
    },
    mounted() {
      this.retrieveProducts();
    },
  };
</script>