<template>
   <div v-if="currentProduct" class="edit-form py-3">
      <p class="headline">Edit Product</p>
      <v-form ref="form" lazy-validation>
         <v-card
            class="mx-auto"
            max-width="500"
            min-width="300"
            >
            <v-img
               class="white--text align-end"
               v-bind:src="'/images/' + currentProduct.image"
               >
               <v-card-title>
                  <v-text-field
                     v-model="currentProduct.title"
                     :rules="[(v) => !!v || 'Title is required']"
                     label="Title"
                     required
                     ></v-text-field>
               </v-card-title>
            </v-img>
            <v-card-subtitle class="pb-0">
               <v-text-field
                  v-model="currentProduct.sku"
                  :rules="[(v) => !!v || 'SKU is required']"
                  label="SKU"
                  required
                  ></v-text-field>
            </v-card-subtitle>
            <v-card-text class="text--primary">
               <v-text-field
                  v-model="currentProduct.price"
                  :rules="[(v) => !!v || 'price is required']"
                  label="Price"
                  required
                  ></v-text-field>
               <v-text-field
                  v-model="currentProduct.quantity"
                  :rules="[(v) => !!v || 'Quantity is required']"
                  label="Quantity"
                  required
                  ></v-text-field>
                <v-text-field
                  v-model="currentProduct.ingredients"
                  :rules="[(v) => !!v || 'Ingredients is required']"
                  label="Ingredients"
                  required
                  ></v-text-field>
            </v-card-text>
            <v-card-actions>
               <v-btn color="success" text @click="updateProduct">
                  Update
               </v-btn>
            </v-card-actions>
         </v-card>
      </v-form>
      <p class="mt-3">{{ message }}</p>
   </div>
   <div v-else>
      <p>Please click on a Product...</p>
   </div>
</template>

<script>
  import ProductDataService from "../services/ProductDataService";

  export default {
    name: "product",
    data() {
      return {
        currentProduct: null,
        message: "",
      };
    },
    methods: {
      getProduct(id) {
        ProductDataService.get(id)
        .then((response) => {
          this.currentProduct = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
      },

      updateProduct() {
        ProductDataService.update(this.currentProduct._id, this.currentProduct)
        .then((response) => {
          console.log(response.data);
          this.message = "The product was updated successfully!";
        })
        .catch((e) => {
          console.log(e);
        });
      },

    },
    mounted() {
      this.message = "";
      this.getProduct(this.$route.params.id);
    },
  };
</script>

<style>
  .edit-form {
    max-width: 300px;
    margin: auto;
  }
</style>